.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin: 2rem;
    padding-left: 1rem;
}
.intro{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: 'Poppins', sans-serif; 
}
.intro-main{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; 
    font-size: 1.15rem;
}
.picture{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item{
    display:flex;
    align-items: center;
    justify-content: center;
}
.Title{
    background-color:#FFE7CE;
}
.myself{
    height: 22rem;
    width: 18rem;
}
.container-fluid{
    display: flex;
    justify-content: flex-end;
}
.container{
    background-color: #FDF4F5;
}
.container1{
    margin: 3rem;
}
hr{
    color: grey;
    border-style: none;
    border-top-style: dotted;
    width: 30%;
    border-width: 2px;
    height: 0px;
    
}
.container1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100em;
    gap: 5px;
    margin:2rem;
}
.H{
    margin-left: 5rem;
    font-size: 2rem;
    font-weight: bolder;
    color: #2D033B;
}
.contact{
    margin-bottom: 0;
    text-align: center;
    background-color: #22A699;
}
.carousel-indicators [data-bs-target]{
    background-color: red;
}
.carousel{
    background-color:#F3BCC8;
    margin: 2rem;
}
.carousel > h3{
    padding-top: 1rem;
}
.carousel-item{
    padding-right: 0px;
    margin-right: 0px;
}

ul{
    font-family: 'Karla', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #37306B;
}
